@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

*,:after,:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

h2, h3 {
    page-break-after: avoid;
}

p {
    margin: 0 0 12.5px;
}

body {
    margin: 0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.58;
    color: #555555;
    background-color: #fff;
    background-image:-webkit-linear-gradient(top,#0ba360,#3cba92);
    background-image:-o-linear-gradient(top,#0ba360 0,#3cba92 100%);
    background-image:linear-gradient(180deg,#0ba360 0,#3cba92);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ba360",endColorstr="#3cba92",GradientType=0)
}



h1 {
    font-size:2em;
    margin:.67em 0
}

.title {
    font-weight: 700;
    font-size: 18px;
    font-family:Lato,Helvetica,Arial,sans-serif;
    line-height:1.1;
    color:#000
}

small {
    display:block;
    font-size:80%;
    line-height:1.58;
    color:#777
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family:Oswald,Helvetica,Arial,sans-serif;
    font-weight:400;
    line-height:1.1;
    color:#000
}

.h1,.h2,.h3,h1,h2,h3 {
    margin-top:25px;
    margin-bottom:12.5px
}

.h1,h1 { 
    font-size:63px
}

h2 {
    font-size: 27px;
}

img {
    border: 0;
    max-width: 100% !important;
    vertical-align: middle;
}

img, tr {
    page-break-inside: avoid;
}

p {
    margin: 0 0 12.5px;
}

h2, h3, p {
    orphans: 3;
    widows: 3;
}

button {
    overflow: visible;
    text-transform: none;
}

button,input,select,textarea{
    color:inherit;
    font:inherit;
    margin:0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.background-color-layer{
    background-size:cover;
    opacity:.15;
    background-repeat:no-repeat;
    position:absolute;
    z-index:-1;
    top:0;width:100%;left:0;right:0;
    bottom:30%;
    box-shadow:inset 0 -40px 60px 10px #0ba360
}

/* .content-wrapper {
    position:relative;
    z-index:1
} */


.fa-icon{
    color:#000;
    width:32px;
    height:32px;
    display:inline-block;
    line-height:29px;
    font-size:15px;
    text-align:center
}
.fa-icon.fa-icon-2x {
    width:50px;
    height:50px;
    line-height:50px;
    font-size:24px
}

.white-text-container.fa-icon,.white-text-container a,.white-text-container h1,.white-text-container h2,.white-text-container h3,.white-text-container h4,.white-text-container h5,.white-text-container p{color:#fff}

body.white {
    background-color:#fff;
    background-image:none
}

.section-container{
    padding:60px 0 40px
}

.text-center {
    text-align: center;
}

.container {
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}

.container:after,.container:before {
    content:" ";display:table
}
.container:after{
    clear:both
}
@media (min-width:768px){
    .container{
        width:750px
    }
}@media (min-width:992px){
    .container{
        width:970px
    }
}
@media (min-width:1200px){
    .container{width:1170px}
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
.container-fluid:after,.container-fluid:before{
    content:" ";
    display:table
}
.container-fluid:after{
    clear:both
}

.row {
    margin-left:-15px;
    margin-right:-15px
}

.row:after,.row:before {
    content:" ";
    display:table
}

.row:after {
    clear:both
}

.card {
    border-radius:.25rem;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.125);
    margin-bottom:3rem
}

.card .h2,.card h2 {
    margin-top:0;
    margin-bottom:40px
}

.card .card-block {
    padding:4rem
}

@media screen and (min-width:992px){
    .card .card-block {
        padding:6rem
    }

    .scrollup {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }

    .scrollup_icon {
        font-size: 1.25rem;
      }
}


.img-responsive{
    display:block;
    max-width:100%;
    height:auto
}

.col {
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
}

.btn {
    display:inline-block;
    margin-bottom:0;
    font-weight:400;
    text-align:center;
    vertical-align:middle;
    touch-action:manipulation;
    cursor:pointer;
    background-image:none;
    border:1px solid transparent;
    white-space:nowrap;
    padding:8px 16px;
    font-size:16px;
    line-height:1.58;
    border-radius:50px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color: inherit;
    transition: 0.3s;
}

.btn:hover {
    color: #fff;
    background-image:-webkit-linear-gradient(top,#0ba360,#3cba92);
    background-image:-o-linear-gradient(top,#0ba360 0,#3cba92 100%);
    background-image:linear-gradient(180deg,#0ba360 0,#3cba92);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ba360",endColorstr="#3cba92",GradientType=0)
}

.title.date-title{
    margin-top:3px;
    margin-bottom:20px
}

.education a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.title small {
    display: inline;
    font-weight:400;
    line-height:1;
    color:#777;
}

h3, h4 {
    font-size: 20px;
}

.footer-container {
    padding: 20px 0 30px;
}

.footer-list {
    display: flex;
    justify-content: center;
}

.footer-list li{
    display: inline;
    float: left;
}

.footer-list li a {
    display: block;
    padding: 10px;
    margin-right: auto;
    color: #fff;
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav-container {
    max-width: 968px;
    margin-left: 120px;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .nav {
        height: 3rem;
      }
    
      .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px #00000026;
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
      }

      .nav_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
      }
    
      .nav_list li {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .nav_icon {
        font-size: 1.2rem;
      }

}  

@media screen and (max-width: 350px) {
    .nav-container {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    
      .nav_menu {
        padding: 2rem 0.25rem 4rem;
      }
    
      .nav_link {
        column-gap: 0;
      }
}

.nav_list {
    display: flex;
    column-gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
  }

.active-link,
.nav_link:hover {
  color: #555555;
  font-weight: 600;
}

.scroll-header {
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px #5e687949;
    background-image:-webkit-linear-gradient(top,#0ba360,#3cba92);
    background-image:-o-linear-gradient(top,#0ba360 0,#3cba92 100%);
    background-image:linear-gradient(180deg,#0ba360 0,#3cba92);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ba360",endColorstr="#3cba92",GradientType=0)
}

.scrollup {
    position: fixed;
  right: 2.5rem;
  bottom: -20%;
  opacity: 0.8;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup_icon {
    font-size: 2.5rem;
    color: #fff;
  }


  .show-scroll {
    bottom: 3rem;
  }